<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
  <title>List View</title>
</head>
<body>
  <div class="container">
    <h1>Welcome to the Sample App</h1>
    <p>This is a sample app using Express.js, EJS, and Bootstrap.</p>
    
    <ul class="list-group">
      <% items.forEach(function(item) { %>
        <li class="list-group-item"><%= item %></li>
      <% }) %>
    </ul>
  </div>
</body>
</html>